---
import FormContacto from "./ui/FormContacto.astro";
import InfoContactoCard from "./ui/InfoContactoCard.astro";
import MapContactoCard from "./ui/MapContactoCard.astro";
---

<section id="contacto" class="py-20 bg-slate-50 border-b border-slate-200">
    <div class="container mx-auto px-4 md:px-6">
        <div class="text-center max-w-3xl mx-auto mb-16">
            <h2 class="text-3xl md:text-4xl font-bold text-slate-900 mb-4">
                Contacta con Nosotros
            </h2>
            <p class="text-lg text-slate-600">
                Estamos aquí para resolver tus dudas y ayudarte en lo que
                necesites.
            </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
            <FormContacto />
            <div class="flex flex-col space-y-8">
                <InfoContactoCard />
                <MapContactoCard />
            </div>
        </div>
    </div>
</section>
