---
import { services } from "../../data/data";
import { icons } from "../../data/icons";
import ServicioCard from "./ui/ServicioCard.astro";

const servicesData = services();
---

<section id="servicios" class="py-16 md:py-32 bg-slate-900 text-white">
    <div class="bf-container">
        <div
            class="flex flex-col md:flex-row justify-between items-start md:items-end mb-12 md:mb-20 border-b-4 border-white pb-6 md:pb-8 gap-6 md:gap-0"
        >
            <h2
                class="text-4xl md:text-7xl font-black uppercase tracking-tighter leading-none"
            >
                Nuestros <br />
                <span class="text-blue-600">Servicios</span>
            </h2>
            <p
                class="text-lg md:text-xl font-bold text-slate-400 max-w-md text-left md:text-right"
            >
                Soluciones técnicas ejecutadas con precisión.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {
                servicesData.map((service, index) => (
                    <ServicioCard
                        title={service.title}
                        description={service.description}
                        iconName={service.iconName}
                        index={index + 1}
                    />
                ))
            }
        </div>
    </div>
</section>
