---
import { icons } from "../../../data/icons";
import { companyInfo } from "../../../data/data";

const PhoneIcon = icons["phone"];
const MailIcon = icons["mail"];
const LocationIcon = icons["location_on"];
const ScheduleIcon = icons["schedule"];
const {
    phoneNumbers: numerosTelefono,
    address,
    workingHours,
    email,
} = companyInfo();
---

<div
    class="bg-slate-800 p-8 border-l-4 border-orange-600 shadow-2xl shadow-black/50 h-full"
>
    <h3 class="text-2xl font-bold text-white mb-8 font-oswald uppercase">
        Información de contacto
    </h3>
    <div class="space-y-8">
        <div class="flex items-start group">
            <div
                class="w-12 h-12 bg-slate-900 border border-slate-700 flex items-center justify-center text-orange-500 mr-5 group-hover:border-orange-500 group-hover:text-white group-hover:bg-orange-600 transition-all duration-300"
            >
                <PhoneIcon class="w-6 h-6" />
            </div>
            <div>
                <p
                    class="font-bold text-white mb-1 uppercase tracking-wider text-sm"
                >
                    Teléfono
                </p>
                {
                    numerosTelefono.map((numero) => (
                        <p class="text-slate-400">{numero}</p>
                    ))
                }
            </div>
        </div>

        <div class="flex items-start group">
            <div
                class="w-12 h-12 bg-slate-900 border border-slate-700 flex items-center justify-center text-orange-500 mr-5 group-hover:border-orange-500 group-hover:text-white group-hover:bg-orange-600 transition-all duration-300"
            >
                <MailIcon class="w-6 h-6" />
            </div>
            <div>
                <p
                    class="font-bold text-white mb-1 uppercase tracking-wider text-sm"
                >
                    Email
                </p>
                <p class="text-slate-400">{email}</p>
            </div>
        </div>

        <div class="flex items-start group">
            <div
                class="w-12 h-12 bg-slate-900 border border-slate-700 flex items-center justify-center text-orange-500 mr-5 group-hover:border-orange-500 group-hover:text-white group-hover:bg-orange-600 transition-all duration-300"
            >
                <LocationIcon class="w-6 h-6" />
            </div>
            <div>
                <p
                    class="font-bold text-white mb-1 uppercase tracking-wider text-sm"
                >
                    Dirección
                </p>
                <p class="text-slate-400">
                    {address}
                </p>
            </div>
        </div>

        <div class="flex items-start group">
            <div
                class="w-12 h-12 bg-slate-900 border border-slate-700 flex items-center justify-center text-orange-500 mr-5 group-hover:border-orange-500 group-hover:text-white group-hover:bg-orange-600 transition-all duration-300"
            >
                <ScheduleIcon class="w-6 h-6" />
            </div>
            <div>
                <p
                    class="font-bold text-white mb-1 uppercase tracking-wider text-sm"
                >
                    Horario
                </p>
                <ul class="text-slate-400">
                    {workingHours.map((hour) => <li>{hour}</li>)}
                </ul>
            </div>
        </div>
    </div>
</div>
