<div
    class="bg-slate-800 p-2 border border-slate-700 shadow-2xl shadow-black/80 h-80 sm:h-auto"
>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.4828176668216!2d-0.3972349234971348!3d39.45841997160963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604ff997036805%3A0xe74e4a9d964aa37e!2sServicios%20Navalpar!5e0!3m2!1ses!2ses!4v1748118853156!5m2!1ses!2ses"
        width="100%"
        height="100%"
        style="border:0; filter: grayscale(100%) invert(90%) contrast(85%);"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Ubicación de Servicios Navalpar"></iframe>
</div>
