---
import { legends as getLegends } from "../../data/data";
import LegendCard from "./ui/LegendCard.astro";

const legends = getLegends();
---

<section class="py-24 bg-slate-950">
    <div class="container mx-auto px-4 md:px-6">
        <div class="text-center max-w-3xl mx-auto mb-16">
            <h2
                class="text-4xl md:text-5xl font-bold text-white mb-6 font-oswald uppercase"
            >
                ¿Por qué <span class="text-orange-600">Navalpar</span>?
            </h2>
            <p class="text-xl text-slate-400 font-light">
                La excelencia no es un acto, es un hábito.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {legends.map((legend) => <LegendCard legend={legend} />)}
        </div>
    </div>
</section>
