---
import FormPresupuesto from "./ui/FormPresupuesto.astro";
---

<section id="presupuesto" class="py-24 bg-slate-950 relative overflow-hidden">
    <div
        class="absolute -right-20 -top-20 w-96 h-96 bg-orange-600/10 rounded-full blur-3xl"
    >
    </div>
    <div
        class="absolute -left-20 -bottom-20 w-96 h-96 bg-blue-600/10 rounded-full blur-3xl"
    >
    </div>

    <div class="container mx-auto px-4 md:px-6 relative z-10">
        <div class="text-center max-w-3xl mx-auto mb-16">
            <h2
                class="text-4xl md:text-5xl font-bold text-white mb-6 font-oswald uppercase"
            >
                Solicita un <span class="text-orange-600">Presupuesto</span>
            </h2>
            <p class="text-xl text-slate-400 font-light">
                Transparencia total. Sin compromiso.
            </p>
        </div>
        <div
            class="max-w-4xl mx-auto bg-slate-900 rounded-xl shadow-2xl shadow-black p-8 md:p-12 border border-slate-800"
        >
            <FormPresupuesto />
        </div>
    </div>
</section>
