---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Servicios from "./Servicios.astro";
import Elegir from "./Elegir.astro";
import Contacto from "./Contacto.astro";
import Presupuesto from "./Presupuesto.astro";
---

<div>
  <Header />
  <Servicios />
  <Elegir />
  <Contacto />
  <Presupuesto />
  <Footer />
</div>
