---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Servicios from "./Servicios.astro";
import Elegir from "./Elegir.astro";
import Contacto from "./Contacto.astro";
import Presupuesto from "./Presupuesto.astro";
import Hero from "./Hero.astro";
import ButtonReturnTop from "./ui/ButtonReturnTop.astro";
---

<div>
  <Header />
  <button id="test">Llamar endpoint</button>
  <Hero />
  <Servicios />
  <Elegir />
  <Contacto />
  <Presupuesto />
  <Footer />
  <ButtonReturnTop />
</div>

<script>
  const button = document.getElementById("test");
  if (button) {
    button.addEventListener("click", async () => {
      const response = await fetch("/api/send-email");
      const data = await response.json();
      console.log(data);
    });
  }
</script>
