---
import { icons } from "../../../data/icons";

interface Props {
    title: string;
    description: string;
    iconName: string;
}

const { title, description, iconName } = Astro.props;
const Icon = icons[iconName as keyof typeof icons] || icons["check_circle"];
---

<div
    class="border-2 border-slate-900 p-8 flex gap-6 hover:bg-slate-900 hover:text-white transition-colors duration-200 group"
>
    <div class="shrink-0 pt-1">
        <Icon
            class="w-8 h-8 text-blue-600 group-hover:text-white transition-colors"
        />
    </div>
    <div>
        <h3 class="text-xl font-black uppercase mb-2 tracking-tight">
            {title}
        </h3>
        <p class="font-bold text-slate-500 group-hover:text-slate-300">
            {description}
        </p>
    </div>
</div>
