---
import { icons } from "../../../data/icons";

interface Props {
    title: string;
    description: string;
    iconName: string;
    index: number;
}

const { title, description, iconName, index } = Astro.props;
const Icon =
    icons[iconName as keyof typeof icons] || icons["home_repair_service"];
---

<article
    class="bg-white text-slate-900 p-8 border-l-8 border-blue-600 hover:bg-blue-600 hover:text-white transition-colors duration-300 group h-full flex flex-col justify-between"
>
    <div>
        <div class="flex justify-between items-start mb-8">
            <Icon
                class="w-12 h-12 text-slate-900 group-hover:text-white transition-colors"
            />
            <span
                class="text-4xl font-black text-slate-200 group-hover:text-blue-500 transition-colors"
                >0{index}</span
            >
        </div>

        <h3 class="text-2xl font-black uppercase mb-4 tracking-tight">
            {title}
        </h3>

        <p
            class="font-bold text-slate-500 group-hover:text-blue-100 leading-relaxed"
        >
            {description}
        </p>
    </div>

    <div
        class="mt-8 pt-8 border-t-2 border-slate-100 group-hover:border-blue-500"
    >
        <span
            class="text-sm font-black uppercase tracking-widest flex items-center gap-2"
        >
            Más info <span class="text-xl">→</span>
        </span>
    </div>
</article>
