---
import "../styles/v2.css";
import { seo } from "../data/data";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const { default: defaultSeo } = seo();
---

<!doctype html>
<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content={description || defaultSeo.description}
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title || defaultSeo.title}</title>
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title || defaultSeo.title} />
        <meta
            property="og:description"
            content={description || defaultSeo.description}
        />
        <meta property="og:image" content="/img/og-image.jpg" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title || defaultSeo.title} />
        <meta
            property="twitter:description"
            content={description || defaultSeo.description}
        />
        <meta property="twitter:image" content="/img/og-image.jpg" />
    </head>
    <body
        class="bg-slate-50 text-slate-800 antialiased selection:bg-blue-200 selection:text-blue-900"
    >
        <slot />
    </body>
</html>
