---
import { icons } from "../../data/icons";
import { getData } from "../../data/data";

const PhoneIcon = icons["phone"];
const MailIcon = icons["mail"];
const LocationIcon = icons["location_on"];
const ScheduleIcon = icons["schedule"];
const { phoneNumbers: numerosTelefono, direction, workingHours } = getData();
---

<div class="bg-blue-50 rounded-xl shadow-md p-8">
  <h3 class="text-2xl font-bold text-gray-800 mb-6">Información de contacto</h3>
  <div class="space-y-4">
    <div class="flex items-start">
      <PhoneIcon class="text-blue-600 mr-3 mt-1" />
      <div>
        <p class="font-medium text-gray-800">Teléfono</p>
        {numerosTelefono.map((numero) => <p class="text-gray-600">{numero}</p>)}
      </div>
    </div>
    <div class="flex items-start">
      <MailIcon class="text-blue-600 mr-3 mt-1" />

      <div>
        <p class="font-medium text-gray-800">Email</p>
        <p class="text-gray-600">contacto@serviciosnavalpar.es</p>
      </div>
    </div>
    <div class="flex items-start">
      <LocationIcon class="text-blue-600 mr-3 mt-1" />
      <div>
        <p class="font-medium text-gray-800">Dirección</p>
        <p class="text-gray-600">
          {direction}
        </p>
      </div>
    </div>
    <div class="flex items-start">
      <ScheduleIcon class="text-blue-600 mr-3 mt-1" />
      <div>
        <p class="font-medium text-gray-800">Horario</p>
        <ul class="text-gray-600">
          {workingHours.map((hour) => <li>{hour}</li>)}
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="mt-8">
    <p class="font-medium text-gray-800 mb-3">Síguenos en redes sociales</p>
    <div class="flex space-x-4">
      <a
        href="#"
        class="bg-white w-10 h-10 rounded-full flex items-center justify-center text-gray-600 hover:text-blue-600 hover:shadow-md transition-all duration-300"
      >
        <i class="fa-brands fa-facebook text-xl"></i>
      </a>
      <a
        href="#"
        class="bg-white w-10 h-10 rounded-full flex items-center justify-center text-gray-600 hover:text-blue-600 hover:shadow-md transition-all duration-300"
      >
        <i class="fa-brands fa-instagram text-xl"></i>
      </a>
      <a
        href="#"
        class="bg-white w-10 h-10 rounded-full flex items-center justify-center text-gray-600 hover:text-blue-600 hover:shadow-md transition-all duration-300"
      >
        <i class="fa-brands fa-twitter text-xl"></i>
      </a>
      <a
        href="#"
        class="bg-white w-10 h-10 rounded-full flex items-center justify-center text-gray-600 hover:text-blue-600 hover:shadow-md transition-all duration-300"
      >
        <i class="fa-brands fa-linkedin text-xl"></i>
      </a>
    </div>
  </div> -->
</div>
