<div>
  <label class="flex space-x-2">
    <input
      id="privacy-check-presupuesto"
      type="checkbox"
      class="w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
    />
    <span class="text-gray-700">
      Acepto la
      <a
        href="/politica-de-privacidad"
        class="text-blue-600 underline hover:text-blue-800"
      >
        política de privacidad</a
      >
      y el tratamiento de mis datos personales
    </span></label
  >
</div>
