---
export interface Props {
  id: string;
}
const isProd = import.meta.env.DEV === false;
const isVercelProd = import.meta.env.PUBLIC_VERCEL_ENV === "production";
const sitekey =
  isProd && isVercelProd
    ? "0x4AAAAAABeg5LaudxgnRGDo"
    : "1x00000000000000000000AA";
const { id } = Astro.props;
---

<div
  id={`turnstile-${id}`}
  class="cf-turnstile"
  data-sitekey={sitekey}
  data-theme="light"
  data-callback={`onTurnstileSuccess_${id}`}
>
</div>
